


<div class="hero vh-100 d-flex align-items-center hero-calc-input-background">
    <div class="container base-container-results">

        <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h2> Estimate Carbon Emissions <h2>
                         <p class="calculator-text"> These are the carbon emission for each mode of travel </p>
                </div>
       
        </div>

            <div class="row justify-content-center text-center mb-5">
            <div class="col-md-3 calculator-input-container">
                 <h3 class="text-dark" > Distance <h3>
                     <p class="calculator-output text-dark"> <%= @roundedTotalDistance%> km </p>
            </div>


                <div class="col-md-3 calculator-input-container calculator-output-walking ">
                 <h3 class="text-dark" > Walking <h3>
                     <p class="calculator-output text-dark"> 0.0 kg CO<sub>2</sub> </p>
                </div>

                 <div class="col-md-3 calculator-input-container calculator-output-cycling">
                 <h3 class="text-dark" > Cycling <h3>
                     <p class="calculator-output text-dark"> 0.0 kg CO<sub>2</sub> </p>
                </div>

            <div class="col-md-3 calculator-input-container calculator-output-car">
                 <h3 class="text-dark" > Car <h3>
                     <p class="calculator-output text-dark"> <%= @totalEmissionsCar%> kg CO<sub>2</sub> </p>
            </div>

             <div class="col-md-3 calculator-input-container calculator-output-plane">
                 <h3 class="text-dark" > Plane <h3>
                     <p class="calculator-output text-dark"> <%= @totalEmissionsPlane%> kg CO<sub>2</sub> </p>
            </div>












            </div> 





   </div>

</div>





 

                





