@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --custom-primary: #4cb269;
  --custom-secondary: #68c2c2;
  --custom-light-blue: #68c2c2;
  --custom-light-gray: #ebeae6;
  --custom-dark-gray: #333333;
  --custom-dark-green: #005051;

  --body: black;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

.link-padding {
  margin-left: 15px;
  margin-right: 15px;
}

.link-padding-edge {
  margin-left: 200px;
  margin-right: 15px;
}

.sign-up-button {
  color: purple;
}

body {
  font-family: Roboto, "sans-serif";
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h6,
.display-4 {
  color: var(--custom-light-gray);
}

a {
  color: var(-dark);
  text-decoration: none;
}

.hero {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero-home-background {
  background-image: url(landing-page-2.jpeg);
}

.btn {
  padding: 5px 10px;
  border-width: 2px;
  border-radius: 8px;
}

.sign-up-button-home {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 100px;
  background-color: hsl(181, 93%, 24%);
  border: 1.5px solid rgb(186, 185, 185);
  color: whitesmoke;
  border-radius: 6px;
}

.navbar {
  font-weight: 30px;
}

.sticky-nav {
  position: sticky;
}

.scroll {
  height: 200px;
  overflow-y: scroll;
}

.hero-blog-background {
  background-image: url(blog-background);
}

.blog-text {
  padding: 10px;
  opacity: 0.7;
}

.blog-title {
  font-size: 50px;
}

.btn-primary {
  background-color: #48915d !important;
  color: whitesmoke !important;
}

.footer-top {
  padding: 30px;
  background-color: #222020;
}

.footer-text {
  font-size: 12px;
  color: whitesmoke;
  opacity: 0.5;
}

.footer-title {
  font-weight: bold;
}

.footer-top a:hover {
  color: white;
  opacity: 1;
}

.list-margin {
  margin-top: 15px;
}

.hero-calc-input-background {
  background-image: url(sky);
}

.base-container {
  background-color: black;
  opacity: 0.8;
  border-radius: 8px;
  z-index: 1;
}

.base-container-results {
  background-color: #222020;
  opacity: 0.95;

  border-radius: 8px;
  z-index: 1;
}

.calculator-text {
  font-size: 20px;
}

.calculator-input-container {
  background-color: white;
  border-radius: 6px;
  padding: 25px;
  margin: 15px;
}

.calculator-input {
  padding: 15px;
  border-radius: 5px;
}

.find-distance_button {
  padding: 30px;
}

.submit-tag:hover {
  background-color: #005051;
  color: whitesmoke;
}

.calculator-output {
  padding: 15px;
  border-radius: 5px;
}

.calculator-output-plane {
  background-color: rgba(209, 45, 45);
}

.calculator-output-car {
  background-color: orange;
}

.calculator-output-cycling {
  background-color: #0d8789;
}

.calculator-output-walking {
  background-color: #0d8789;
}

.hero-sign-up-background {
  background-image: url(landing-page-background);
}

.base-sign-container {
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 8px;
}

.social-sign {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
}

.line-divide {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
  width: 95%;
}

.form-title {
  font-weight: 800;
  font-size: 12px;
}

.submit-sign-button {
  display: block;
}

.form-control-1 {
  padding-left: 175px;
  padding-right: 175px;
  border-radius: 6px;
}

.hero-blog-background-ind {
  background-image: url(blog-background);
}

.hero-blog-background {
  background-image: url(blog-background-4);
}

.travel-log-navigation {
  border: 1px solid black;
  margin-left: 60px;
  padding: 6px;
  border-radius: 8px;
  text-decoration: none;
}

.travel-log-title {
  font-size: 80px;
  color: #222020;
}

.travel-log-text {
  font-size: 40px;
  margin-bottom: 50px;
  color: #222020;
}

.new-blog-button {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 20px;
  background-color: rgb(9, 122, 41);
  opacity: 0.6;
  padding: 15px;
  margin-bottom: 80px;
}

.navigation-blog-button {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 20px;
  background-color: rgb(231, 231, 231);
  opacity: 0.6;
  padding: 15px;
  margin: 0 50px;
  padding: 6px;
}

.delete-button {
  border: none;
  background-color: transparent;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.success-sign-up {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 20px;
  background-color: hsl(181, 96%, 19%);
  color: whitesmoke;
  padding: 15px;
  margin-bottom: 80px;
}

.new-button {
  border: 1px solid lightgrey;
  border-radius: 8px;
  font-size: 40px;
}

.home-button-links {
  border: 1.5px solid rgb(186, 185, 185);
  border-radius: 6px;
  color: whitesmoke;
  font-size: 20px;
  background-color: rgb(86, 157, 181);
  margin: 10px;
}

.home-button-carbon {
  border-radius: 6px;
  color: whitesmoke;
  font-size: 20px;
  background-color: hsl(181, 93%, 24%);
  margin: 10px;
}

.travel-log-text {
  font-size: 40px;
}

.travel-log-text-show {
  font-size: 20px;
}

.update-button {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 15px;
  background-color: hsl(181, 96%, 19%);
  color: whitesmoke;
  padding: 10px;
}

.back-to-logs {
  border: 1px solid rgb(186, 185, 185);
  border-radius: 8px;
  font-size: 15px;

  color: black;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
  align-items: center;
}

.edit-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.icon-size {
  font-size: 25px;
  margin-top: 10px;
  padding: 6px;
}
