
<div class="container ">
 <%= link_to "Back to Travel Logs", travel_logs_path, class: 'btn btn-secondary' %>
  <div class="row">
      <div class="col-md-7">
          <div class="card">
            <div class="card-body">

                <h4 class="card-title">Editing Post</h4>
                <%= render "form", travel_log: @travel_log%>

            </div>
          </div>
      </div>
  </div>
 </div>







  
 
