


<div class="hero hero-blog-background-ind vh-100 d-flex align-items-center">
   <div class="container col-12">
      <div class="row">
          <div class="col-md-12 text-center travel-log-text-show">
                <%= render @travel_log %>
          </div>
      </div>

      <div class="row text-center mt-5 justify-content-center highlight">

        <div class="col-md-3 navigation-blog-button">
           <%= link_to "Edit Travel Log", edit_travel_log_path(@travel_log), class: "text-black" %>
        </div>

         <div class="col-md-3 navigation-blog-button">
           <%= link_to "Back to Travel Log", travel_logs_path, class: "text-black" %>
        </div>
        
         <div class="col-md-3 navigation-blog-button">
            <%= button_to "Delete", @travel_log, method: :delete, class: "text-black delete-button" %>
        </div>




      </div>
      
    




   </div>

</div>












        
         
    













  
 
     


</div>
